In [0]:
from pyspark.sql.functions import row_number, rank, dense_rank
from pyspark.sql.window import Window
data = [('Anil','HR',2000),('Arun','IT',3000),('Sandeep','HR',1500),\
    ('Annu','payroll',3500),('Shakti','IT',3000),('pradeep','IT',4000),\
    ('Kartik','payroll',2000),('Himanshu','IT',2000),('Bhargav','HR',2000),\
    ('Morthi','IT',2500)]
schema = ['name','dep','salary']
df = spark.createDataFrame(data, schema)
df.show()

+--------+-------+------+
|    name|    dep|salary|
+--------+-------+------+
|    Anil|     HR|  2000|
|    Arun|     IT|  3000|
| Sandeep|     HR|  1500|
|    Annu|payroll|  3500|
|  Shakti|     IT|  3000|
| pradeep|     IT|  4000|
|  Kartik|payroll|  2000|
|Himanshu|     IT|  2000|
| Bhargav|     HR|  2000|
|  Morthi|     IT|  2500|
+--------+-------+------+

In [0]:
#calculate total salary taken by a department
df.groupBy("dep").sum("salary") \
.withColumnRenamed("sum(salary)", "Department_Take") \
.show(truncate=False)

+-------+---------------+
|dep    |Department_Take|
+-------+---------------+
|HR     |5500           |
|IT     |14500          |
|payroll|5500           |
+-------+---------------+

In [0]:
from pyspark.sql.functions import col
#USE OF HAVING CLAUSE - using where or filter
df.groupBy("dep").count() \
.withColumnRenamed("count", "Total_Employees") \
.filter(col("Total_Employees")>2) \
.show(truncate=False)

+---+---------------+
|dep|Total_Employees|
+---+---------------+
|HR |3              |
|IT |5              |
+---+---------------+

In [0]:
from pyspark.sql.functions import sum,avg,max, round
df.groupBy("dep") \
    .agg(sum("salary").alias("sum_salary"), \
         (round(avg("salary"),2)).alias("avg_salary")) \
    .show(truncate=False)

+-------+----------+----------+
|dep    |sum_salary|avg_salary|
+-------+----------+----------+
|HR     |5500      |1833.33   |
|IT     |14500     |2900.0    |
|payroll|5500      |2750.0    |
+-------+----------+----------+